<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @membership.user.username %>
</p>

<p>
  <strong>Beer club:</strong>
  <%= @membership.beer_club.name %>
</p>


<br/>
<%= edit_and_destroy_buttons(@membership) %>
<br/>
<%= link_to 'Back', memberships_path %>
