<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<p>
  <strong>Members:</strong>
  <%= render 'membership_list', members: @beer_club.confirmed_members, outstanding: false %>
</p>

<% if @beer_club.pending_members.count > 0 %>
<p>
  <strong>Outstanding applications:</strong>
  <%= render 'membership_list', members: @beer_club.pending_members, outstanding: true %>
</p>
<% else %>
    <p><strong>No outstanding applications</strong></p>
<% end %>


<% if current_user_is_member_of_club(@beer_club) %>
    <%
       if @membership.confirmed
         button_text = "End the membership"
       else
         button_text = "Cancel application"
       end
    %>

    <%= form_for(@membership, method: "delete") do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit class:"btn btn-danger",  value: button_text %>
    <% end %>

<% else %>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit class:"btn btn-primary", value: "Join this club" %>
    <% end %>

<% end %>
<br/>
<%= edit_and_destroy_buttons(@beer_club) %>
</br>
<%= link_to 'Back', beer_clubs_path %>
