<p id="notice"><%= notice %></p>

<p>
<strong>Username:</strong>
  <%= @user.username %>
  <% if is_admin %>
      <% if @user.banned %>
        <h2 class="alert alert-danger">BANNED</h2>
        <%= link_to "Unban user", toggle_ban_user_path(@user.id), method: :post, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Ban user", toggle_ban_user_path(@user.id), method: :post, class: "btn btn-danger" %>
    <% end %>
    <%end %>

</p>

<p>
  <%= @user.username %> has made <%= @user.ratings.count %> ratings with average score of <%= round(@user.average_rating) %>
</p>

<p>
  <strong>Favorite brewery:</strong>
  <% if not @user.favorite_brewery.nil?%>
    <%= @user.favorite_brewery.name %>
  <%else %>
    No favorite brewery yet
  <%end%>
  <br/>
  <strong>Favorite style:</strong>
  <% if not @user.favorite_style.nil?%>
    <%= @user.favorite_style.name %>
  <%else%>
    No favorite style yet
  <%end%>
</p>

<% if not @user.ratings.empty? %>
<p><strong>Ratings</strong></p>
<ul>
  <% @user.ratings.each do |rating| %>
      <li> <%= rating %>
        <%if current_user == rating.user %>
          <%= link_to 'delete', rating, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>

<% end %>

<p>
  <strong>Member of <%= pluralize @user.beer_clubs.count, 'club' %>:</strong>
<ul>
  <% @user.beer_clubs.each do |c| %>
      <li><%= link_to c.name, c %></li>
  <% end  %>
</ul>
</p>



<br/>
<%= edit_and_destroy_buttons(@user) %>
<br/>
<%= link_to 'Back', users_path %>
