<h2>Top three breweries</h2>
<%= render 'list', items: @breweries, name: "Beer" %>

<h2>Top three beers</h2>
<%= render 'list', items: @beers, name: "Beer" %>


<h2>Top three styles</h2>
<%= render 'list', items: @styles, name: "Style" %>

<h2>Top three raters</h2>
<%= render 'list', items: @users, name: "User" %>

<h2>Recent ratings</h2>
<%= render 'list', items: @recent_ratings, name: "Rating" %>