
<%= render 'list', items: @breweries, name: "Brewery" %>

<%= render 'list', items: @beers, name: "Beer" %>

<%= render 'list', items: @styles, name: "Style" %>

<%= render 'list', items: @users, name: "Rater" %>

<h2>Recent ratings</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Beer name</th>
    <th>Rater</th>
    <th>Score</th>
  </tr>
  </thead>

  <tbody>

  <% @recent_ratings.each do |rating| %>
      <tr>
        <th> <%= link_to rating.beer.name, beer_path(rating.beer) %></th>
        <th> <%= link_to rating.user.username, user_path(rating.user)%></th>
        <th><%= rating.score %> </th>
      </tr>
  <% end %>
  </tbody>
</table>