<p id="notice"><%= notice %></p>

<h1>Listing Breweries</h1>


<% cache "breweries-#{@order}", skip_digest: true do %>
<p>Number of breweries: <%= @active_breweries.count + @retired_breweries.count%></p>

<h2>Active</h2>
<%= render 'breweries_list', breweries: @active_breweries %>
<br>
<h2>Retired</h2>
<%= render 'breweries_list', breweries: @retired_breweries %>
<% end %>
<br>

<%= link_to 'New Brewery', new_brewery_path, class:"btn btn-primary"  if current_user %><br/>
<%= link_to 'List of beers', beers_path %>
