<p id="notice"><%= notice %></p>
<% cache @brewery do %>
    <%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>

    <p>
    <h2>
      <%= @brewery.name %>
      <% if not @brewery.active  %>
          <span class="label label-info">retired</span>
      <% end %>
    </h2>
    </p>


    <p>
    <i>
      <%= "Established in #{@brewery.year}" %>
    </i>
    </p>

    <p>
      <strong>Beers:</strong>
      <%= @brewery.beers.count %>
    </p>

    <p>
      <% @brewery.beers.each do |beer| %>
          <%= link_to beer.name, beer %>
      <% end %>
    </p>

    <p>
      <% if @brewery.ratings.empty? %>
          This brewery has not yet been rated
      <% else %>
          This brewery has <%= pluralize(@brewery.ratings.count , 'rating') %> with an average score of <%= round(@brewery.average_rating) %>
      <% end %>
    </p>

<% end %>

<br/>
<%= edit_and_destroy_buttons(@brewery) %>
<br/>
<%= link_to 'Back', breweries_path, class:"btn btn-primary"%>
