<p id="notice"><%= notice %></p>


<p>
<h2>
  <%= @brewery.name %>
  <% if not @brewery.active  %>
      <span class="label label-info">retired</span>
  <% end %>
</h2>
</p>


<p>
<i>
  <%= "Established in #{@brewery.year}" %>
</i>
</p>


<p>
  <strong>Beers:</strong>
  <%= @brewery.beers.count %>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
  <% end %>
</p>

<p>
  <% if @brewery.ratings.empty? %>
      This brewery has not yet been rated
  <% else %>
      This brewery has <%= pluralize(@brewery.ratings.count , 'rating') %> with an average score of <%= @brewery.average_rating %>
  <% end %>
</p>


<%= link_to 'Edit', edit_brewery_path(@brewery), class:"btn btn-primary"%> |
<%= link_to 'Destroy', @brewery, class:"btn btn-danger" , method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', breweries_path, class:"btn btn-primary"%>
